@import "reset";
@import "variables";
@import "mixins";
@font-face {
    font-family: HelvetlicaBold;
    src: url("fonts/Helvetica-Condensed-Bold.otf") format("opentype");
}
body {
  background-color: $grey;
}
.wrapper {
  max-width: 1055px;
  margin: 0 auto 5% auto;
  background-color: $white;
  padding: 30px;
}

header  {
  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .logo {
      width: 20%;
    }
    .search {
      width: 40%;
      display: flex;
      justify-content: center;
      input[name="search"] {
        background-color: $blue;
        text-transform: uppercase;
        font-weight: bold;
        color: $white;
        padding: 2% 5%;
        border: 0 solid;
        width: 30%;
        font-size: 80%;
      }
      input[name="text"] {
        width: 70%;
      }
    }

    .social {
      width: 11%;
      position: relative;
      li {
        position: relative;
        top: 5px;
        display: block;
        width: 100%/3-5%;
        float: left;
        margin-left: 5%;
      }

    }
  }
  .nav-bottom {
    margin: 5px 0 ;
    font-size: 80%;
    font-family: HelvetlicaBold, serif;
    ul {
      display: flex;
      li {
        background-color: grey;
        width: (100%/7);
        text-align: center;
        padding: 3px;
      }
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
      }
      #home {background-color: $blue}
      #cinema {background-color: $lime}
      #magazine {background-color: $darkblue}
      #cssauthor {background-color: $blue}
      #topmenu {background-color: $darkorange}
      #arch {background-color: $red}
      #contact {background-color: $darkgrey}
    }
  }
}

#top-stories {
  h2 {
    text-transform: uppercase;
    color: $blue;
    margin: 10px 0;
    font-size: 130%;
  }
}
.story-carousel {
  display: flex;
  justify-content: space-between;
  .story {
    max-width: 100%/3-1%;
    div {
      padding: 5px;
      margin: 5px 0;
    }
  }
  #story-1 div{&:nth-of-type(1) {background-color: $blue;}}
  #story-2 div{&:nth-of-type(1) {background-color: $darkorange;}}
  #story-3 div{&:nth-of-type(1) {background-color: $pinnk;}
  }
  img {
    width: 100%;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 95%;
    color: $white;
  }

  p {

    font-family: HelvetlicaBold;
  }
}

.main {
  margin: 2% 0;
  display: flex;
  .posts {
  flex: 2;
    img {
    width: 100%;
    }
  }
  .sidebar {
  flex: 1;
  margin-left: 1%;
  }
}
.post {
  .post-banner {
    background-color: #fafafa;
    padding: 1%;
  }
  img {
    border: 3px solid #fff;
  }
  h1 {
    padding: 1%;
    font-size: 200%;
    font-weight: bold;
  }
  p {
    padding: 1%;
    text-align: justify;
  }
  .post-thumbnails {
    display: flex;
    justify-content: space-between;
    a {
      width: (97%/4);
    }
    img {
      width: 100%;
    }
  }
  .details {
    display: flex;
    p {
      flex: 2;
    }
    .comments {
      background: url(../images/comments.png) left center no-repeat ;
      padding-left: 20px;
    }
    a {
      text-align: right;
      flex : 3;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 75%;
}
.sidebar-story-list {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  li {
    height: 100%/3;
  }
  h3 {
    color: #22b9e0;
    font-weight: bolder;
  }
  li:nth-child(2) {
    border-top: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
  }
  img {
    display: block;
    width: 20%;
    float: left;
    margin: 2% 2% 2% 0;
  }
}

#also {
  h2 {
    background-color: #5261ac;
    color: white;
    text-transform: uppercase;
    padding: 3%;
  }
  ul {
    margin: 3% 0;
  }
  li {
    margin-bottom: 10px;
    overflow: hidden;
  }
  img {
    display: block;
    width: 20%;
    float: left;
    border: 1px solid #c3c3c3;
    padding: 2px;
    margin: 0 2% 0 1%;
  }

  p {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: #22b9e0;
  }
}

#archives {
  h2 {
    background-color: #5261ac;
    color: white;
    text-transform: uppercase;
    padding: 3%;
  }

  li {
    padding: 2% 3% 2% 0;
    border-bottom: 2px solid #fafafa;
    margin-left: 6%;
    height: 100%/7
  }
  a{
    text-decoration: none;
    color: black;
  }
}

#tag-cloud {
  h2 {
    background-color: #5261ac;
    color: white;
    text-transform: uppercase;
    padding: 3%;
  }
  a {
    text-decoration: none;
  }
  .cloud-2 {
      color: #f8962c;
      font-size: 180%;
  }
  .cloud-3 {
      color: #5261ac;
      font-size: 100%;
  }
  .cloud-1 {
      color: #5261ac;
      font-size: 140%;
  }

}
